body{
    height: 100%;
    background-color: black;
    display:flex;
    flex-direction:column;
    align-items:center;
}
.limite{
    width:100%;
    Height: 15px;
    Background: blue;
}
.container{
    display:flex;
    justify-content: center;
    width:100%;
    min-height: 100%;
}
    
.tarjeta{
    height: 300px;
    display:flex;
    width:200px;
    border:1px black solid;
    flex-direction : column;
}

figure{
    margin:0;
    
}

img{
    width: 100%;
    display: block;
    margin:auto;
}